$primary: #E6484B;
$gris: #a0a0a0;
$gris2: #c8c8c8;
$grisoscuro: #6e6e6e;
$grisclaro: #e6e6e6;
$negro: #000;
$blanco: #FFF;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto&display=swap');
$Poppins: 'Poppins', sans-serif;
$Roboto: 'Roboto', sans-serif;
body{
    font-family: $Poppins;
    font-size: 16px;
}

//Responsive
    $break-small: 576px;
    $break-medium: 767px;
    $break-large: 1023px;
    $break-extralarge: 1199px;