@import '../../styles/variables';

.close-button{
    position: absolute;
    top:0;
    left:0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20px;
    width: 20px;
    background: #000;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    margin: 18px 0 15px 25px;
    

    &:focus{
        outline: none;
    }

    &__line{
        width: 16px;
        height: 2px;
        background: $primary;
        z-index: 1000;

        &--up{
            transform: rotate3d(0, 0, 1, -40deg);
            top:0;
            margin-top: 1px;
        }

        &--down{
            transform: rotate3d(0, 0, 1, 40deg);
            top:0;
        }
    }
}