@import '../../styles/variables';

.toggle-button{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20px;
    width: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    margin: 15px 25px;

    &:focus{
        outline: none;
    }

    &__line{
        width: 18px;
        height: 2px;
        background: #000;

        &--medium{
            width: 15px;
            height: 1px;
        }

        &--small{
            width: 7px;
        }
    }
}