@import '../../styles/variables';

.side-drawer{
    height: 100%;
    background-color: $blanco;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    transition: all 0.5s ease;

    &__logo{
        display: flex;
        justify-content: center;
        margin: 5px 0;
    }

    &__list{
        list-style: none;
        display: flex;
        flex-direction: column;
        margin: 50px 25px;
    }

    &__link{
        color: #000;
        text-decoration: none;
        font-size: 1.4em;
        font-weight: 500;
        line-height: 3.5em;

        &:hover, &:active{
            color: $primary;
        }
    }

    &__spacer{
        flex: 1;
    }

    &__socialtitle{
        color: $gris;
        font-weight: 500;
        margin:3em 0 0 0;
    }

    &__list--social{
        display: flex;
        flex-direction: row;
        margin:-40px 0 0 0;
        padding: 0;
    }

    &__icon{
        display: inline-block;
        margin-right: 1.5em;
    }

    &__bandera{
        position: absolute;
        top:0;
        right: 0;
        margin:15px 25px 15px 0;
    }

}