@import '../../styles/variables';

.switch{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: flex-start;
    margin: 0 0 0 20px;
}  

.switch__container {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
}

.switch__label{
    display: inline;
    margin-left: 15px;
    font-size: 14px;
}

/* Hide default HTML checkbox */
    .switch__container input {
        opacity: 0;
        width: 0;
        height: 0;
    }
  
  /* The slider */
  .switch__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $primary;
    border: 1px solid $blanco;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .switch__slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .switch__container input:checked + .switch__slider {
    background-color: $blanco;
  }
  
  .switch__container input:focus + .switch__slider {
    box-shadow: 0 0 1px $blanco;
  }
  
  .switch__container input:checked + .switch__slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
    background-color: $primary;
  }
  
/* Rounded sliders */
.switch__slider.switch__round {
    border-radius: 34px;
  }
  
  .switch__slider.switch__round:before {
    border-radius: 50%;
  }

@media(min-width:$break-medium){
  .switch{
    justify-content: center;
    margin: 0 auto;
}  
}  
